# GL Governance Markers
# @gl-layer GL-00-NAMESPACE
# @gl-module ns-root/namespaces-sdk/k8s/crds
# @gl-semantic-anchor GL-00-K8S_CRDS_NAMESPACESDK
# @gl-evidence-required false
# GL Unified Charter Activated

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: namespaces.machinesdk.io
  annotations:
    deployment.method: "instant"
spec:
  group: machinesdk.io
  versions:
  - name: v1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              team:
                type: string
              environment:
                type: string
              resources:
                type: object
                properties:
                  cpu:
                    type: object
                  memory:
                    type: object
  scope: Namespaced
  names:
    plural: namespaces
    singular: namespace
    kind: Namespace
